/*.inputTransparentClass>.sapMInputBaseContentWrapper{
    background: transparent;
    border: 1px solid #bfbfbf !important;
	 -webkit-appearance: none;
}
.inputTransparentClass>.sapMInputBaseContentWrapper>.sapMInputBaseInner{
	color:white;
}*/
.darkTheme>.sapMInputBaseContentWrapper>.sapMInputBaseIconContainer>.sapMInputBaseIcon{
color:white;
}

.darkTheme>.sapMOHTopRow>.sapMOHTitleDiv>.sapMOHTitle>h1>.sapMText>.sapMTextMaxLine{
color:white!important;
}

.objHedaerClass {
    padding: 0rem !important;
}

.objHedaerClass>.sapMOHTopRow>.sapMOHTitleDiv>.sapMOHTitle>.sapMTextLineClamp {
	color: white !important;
}

.inputOptionClass>.sapMInputBaseContentWrapper {
    border: none !important;
    background: transparent;
    border-bottom: 1px solid #bfbfbf !important;
    -webkit-appearance: none;
}
.darkTheme>.sapMInputBaseContentWrapper>.sapMInputBaseInner {
	color: white;
	background: transparent !important;
	border: none !important;
	/*border-bottom: 1px solid #bfbfbf !important;*/
	-webkit-appearance: none;
}
.objectPageLayoutClass>.sapUxAPObjectPageWrapper>.sapUxAPObjectPageScroll>.sapUxAPObjectPageNavigation>.sapMIBar>.sapUxAPAnchorBarScrollContainer>div>sapMBtnBase>.sapMBtnInner>.sapMBtnContent{
	color: white !important;
}
.objectPageLayoutClass .sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnContent {
color:white !important;
}
.comparisonMicroChartDataClass>.sapSuiteCpMCVerticalAlignmentContainer>.sapSuiteCpMCChartItem>.sapSuiteCpMCChartItemTitle{
	color:white;
	}
.comparisonMicroChartDataClass>.sapSuiteCpMCVerticalAlignmentContainer>.sapSuiteCpMCChartItem>.sapSuiteCpMCChartBar>.sapSuiteCpMCChartItemValue{
	color:white !important;
}
.comparisonMicroChartDataClass .sapSuiteCpMCChartItemValue.sapSuiteCpMCSemanticColorGood{
	color:white !important;
}
.comparisonMicroChartDataClass .sapSuiteCpMCChartItemValue.sapSuiteCpMCSemanticColorError{
	color:white !important;
}
.comparisonMicroChartDataClass .sapSuiteCpMCChartItemValue.sapSuiteCpMCSemanticColorNeutral{
	color:white !important;
}
 .subCategoryToolBarclass{
	   border-bottom: 0px  !important;
}
.subCategoryEditButton>.sapMBtnHoverable>.sapMBtnCustomIcon {
	color: white !important;
}
.textareaClass>.sapMInputBaseReadonlyInner{
	background-color: #005773;
}
.textareaClass>.sapMInputBaseReadonlyInner>.sapMInputBaseInner {
	font-weight: bold;
}
.breadLayoutClass {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}
/*span.sapMBtnInner.sapMBtnEmphasized {*/
/*    background-image: none;*/
/*    background-color: #f4ab00 !important;*/
/*    border-color: #f4ab00 !important;*/
/*}*/
.sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):hover {
    background: transparent !important;
    border-color: #427cac;
}
.loginForm{
background-color : #0000004a !important;
}
.carouselPanelClass>.sapMIBar {
	border-bottom: 0px solid !important
}

.carouselquesPanelClass{
	height:100% !important;
	/*min-height:-moz-available !important;*/
	/*min-height:fill-available !important;*/
	/*width: 100% ;*/
    overflow-wrap: break-word ;
	position: relative;
	
}
.carouselPanelClass>.sapMPanelBGTranslucent {
	border-bottom: 0px solid !important
}

.carouselPanelClass {
	padding-top: 1rem;
}

.bannerImage {
	background:
		url('https://cloud360accounting.com/wp-content/uploads/2014/11/xero-background-750x300.jpg')
		!important;
}

.bannerText {
	color: white !important;
	margin: 3rem;
	font-weight: bold !important;
	font-size: 4em !important;
}

.noBorderToolbar {
	border: none !important
}

/* ul>li:last-child {
	background: transparent !important;
	text-decoration: underline;
} */
ul>.listItemClass:last-child {
	background: transparent !important;
	text-decoration: underline;
}
ul>.listClass:last-child {
	background: transparent !important;
	text-decoration: underline;
}
.sapMSltHoverable{
	max-width: 200% !important;
} 
/*.sapMBtnContent{
	color: black !important;
}*/

.carouselSecondPageHboxClass {
	padding-left: 2rem;
	padding-top: 1rem;
}

.tileLayout>.sapMGTHdrContent>.sapMGTHdrTxt>.sapMGTTitle>.sapMTextLineClamp
	{
	font-size: 1rem !important;
}

.carouselImageClass {
	border: 0px solid !important;
	background : #d5e2ef !important;
}

.saveButtonClass>.sapMBtnDefault {
	border: 1px solid !important;
}

.subCategoryListClass {
	padding-left: 0rem !important;
	padding-right: 3rem !important;
}

.noBorderToolbar {
	border-bottom: 0px !important;
}

.cursorMouseClass {
	cursor: pointer !important;
}

.orTextClass>span {
	padding-left: 12.5rem;
}

.userPanelClass>.sapMPanelWrappingDivTb {
	border-bottom: 0px !important;
}

.categoryVerticalLayoutClass>.sapUiVltCell {
	margin: 1rem;
}

.categoryLayoutCellClass>.sapUiBlockCellContent {
	padding-top: 2rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}
/*css added for change panel header*/
.panelHeaderCssClass>.sapMPanelWrappingDivTb {
	background-color: #0000006a !important;
}

.panelHeaderCssClass>.sapMPanelBGTranslucent {
	border-bottom: 0px !important;
}

.panelHeaderCssClass>.sapMPanelWrappingDivTb {
	border-bottom: 0px !important;
}

.panelHeaderCssClass>.sapMPanelWrappingDivTb>.sapMPanelExpandableIcon {
	color: white !important;
}

.categoryPanelClass>.sapMPanelWrappingDivTb {
	/* background-color : transparent; */
	background-color: #00000012;
}
/*css added for change panel header*/
.categoryPanelClass>.sapMPanelBGTranslucent {
	border-bottom: 0px !important;
}

.categoryPanelClass>.sapMPanelWrappingDivTb {
	border-bottom: 0px !important;
}

.categoryPanelClass>.sapMPanelWrappingDivTb>.sapMPanelExpandableIcon {
	color: white !important;
}

.categoryPanelClass {
	cursor: pointer;
}
.panelHeaderCssClass {
	cursor: pointer;
}

.whiteText {
	color: white !important;
	text-shadow: 0 0 0 #000000 !important;
} 

.categoryButtonPress>.sapMBtnHoverable>.sapMBtnCustomIcon {
	color: white !important;
}

.categoryButtonPress>.sapMBtnDefault {
	color: white;
}
.categoryButtonPress>.sapMBtnHoverable{
	background-color:transparent;
}
/*.categoryButtonCSSClass>.sapMBtnHoverable>.sapMBtnCustomIcon {
	color: white !important;
}*/

.categoryButtonCSSClass>.sapMBtnDefault {
	color: white;
}
.categoryButtonCSSClass>.sapMBtnHoverable{
	background-color: #0000004a;
}
.lineChartClass>.sapSuiteILCCanvasLayout>.sapSuiteILCBottomLabelArea {
	border-top-color: black !important;
}
/* .bulletChartClass>.sapSuiteBMCVerticalAlignmentContainer>.sapSuiteBMCChart>.sapSuiteBMCTopLabel>.sapSuiteBMCItemValue{
	color:black;
}

.bulletChartClass>.sapSuiteBMCVerticalAlignmentContainer>.sapSuiteBMCChart>.sapSuiteBMCBottomLabel>.sapSuiteBMCSizeAuto{
	color:black;
}
.sapContrastPlus .sapSuiteILCTextElement{
	color:black !important;
}
.comparisonMicroChartDataClass>.sapSuiteCpMCVerticalAlignmentContainer>.sapSuiteCpMCChartItem>.sapSuiteCpMCChartItemHeader>.sapSuiteCpMCChartItemTitle{
color : black !important;
}
.objectPageLayoutClass>.sapUxAPObjectPageWrapper>.sapUxAPObjectPageScroll>.sapUxAPObjectPageHeaderDetails>.sapContrastPlus {
background: #006e9e ;
	}
.kpiTitleClass{
	color : black !important;
	text-shadow : 0 0 0 #000000 !important;
}
.headerTitleClass>span{
	color : black !important;
	text-shadow : 0 0 0 #000000 !important;
}
.objectPageLayoutClass>.sapContrastPlus>.sapFDynamicPageTitle{
	background: transparent !important;
}  */
/* changing the theme for the Form KPIs*/
.objectPageLayoutClass>.sapContrastPlus>.sapUxAPObjectPageHeaderDetails>.sapContrastPlus
	{
	background: #006e9e;
	box-shadow: 0 0.125rem 0 0 #006e9e, inset 0 -0.125rem 0 0 #006e9e
		!important;
}

.kpiTitleClass{
	color : white !important;
	text-shadow : 0 0 0 #000000 !important;
}

.headerTitleClass>span{
	color : white !important;
	text-shadow : 0 0 0 #000000 !important;
}

.objectPageLayoutClass>.sapContrastPlus>.sapFDynamicPageTitle {
	box-shadow: 0 0.125rem 0 0 #006e9e, inset 0 -0.125rem 0 0 #006e9e
		!important;
}

.objectPageLayoutClass>.sapUxAPObjectPageWrapper>.sapUxAPObjectPageScroll>.sapUxAPObjectPageHeaderDetails>.sapContrastPlus
	{
	background: #006e9e;
	box-shadow: 0 0.125rem 0 0 #006e9e, inset 0 -0.125rem 0 0 #006e9e
		!important;
}

.objectPageLayoutClass>.sapContrastPlus>.sapFDynamicPageTitle {
	background: #006e9e !important;
}

.objectPageLayoutClass>.sapUxAPObjectPageWrapper>.sapUxAPObjectPageScroll>.sapContrastPlus>.sapMIBar
	{
	background-color: #006e9e !important;
	padding-top: 0rem !important;
}

.objectPageLayoutClass>.sapContrastPlus>.sapUxAPObjectPageNavigation>.sapMIBar
	{
	background-color: #006e9e !important;
	padding-top: 0rem !important;
}

.objectPageLayoutClass>.sapContrastPlus>.sapUxAPObjectPageNavigation {
	padding-top: 0rem !important;
}

.objectPageLayoutClass>.sapUxAPObjectPageWrapper>.sapUxAPObjectPageScroll>.sapContrastPlus
	{
	padding-top: 0rem !important;
}
/* changing the theme for the Form KPIs*/
button[data-color=red]>.sapMBtnHoverable>.sapMBtnCustomIcon {
	color: red;
}

button[data-color=default]>.sapMBtnHoverable>.sapMBtnCustomIcon {
	color: green;
}
/* .activateClass>.sapMBtnHoverable>.sapMBtnCustomIcon{
	color : red !important;
} */
.objListItemClass>.sapMListModeNone>.sapMLIB>.sapMLIBContent>.sapMObjLTopRow>div>.sapMObjLTitle>.sapMTextLineClamp
	{
	font-size: 1.2rem !important;
}

.objListItemClass>.sapMListModeNone>.sapMLIB>.sapMLIBContent>.sapMObjLTopRow>.sapMObjLNumberDiv>.sapMObjectNumber>.sapMObjectNumberText
	{
	font-size: 0.9rem !important;
	padding-bottom: 0.5rem !important;
}

.deptObjListItemClass>.sapMListModeNone>.sapMLIB>.sapMLIBContent>.sapMObjLTopRow>div>.sapMObjLTitle>.sapMTextLineClamp
	{
	font-size: 1rem !important;
}

.deptObjListItemClass>.sapMListModeNone>.sapMLIB>.sapMLIBContent>.sapMObjLTopRow>.sapMObjLNumberDiv>.sapMObjectNumber>.sapMObjectNumberText
	{
	font-size: 0.8rem !important;
	padding-bottom: 0.5rem !important;
}

.loginPageClass {
	background-image:
		url('https://cloud360accounting.com/wp-content/uploads/2014/11/xero-background-750x300.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.templateSelectionHeaderClass>.sapMBar {
	background-color: #2f3c48 !important;
}

.templateSelectionHeaderClass>.sapMBar>.sapMBarMiddle>.sapMBarContainer>.sapMBarChild
	{
	color: white;
}

.subCategoryListClass>.sapMListItems {
	padding-left: 1rem;
}

.listItemClass {
	/* padding: 0.5rem !important; */
	/* background-color: #7ed0ff !important; */
	margin: 0.5rem !important;
	/*  background: #0e0e0e12 !important; */
	/* background-color: #add8e6 !important; */
	background-color: #0000004a !important;
	border-bottom: 0px !important;
}

.customCellClass>.sapUiBlockCellContent {
	padding: 0rem 0rem !important;
}
/*.questionAreaBarClass>.sapMBarContainer {
 padding-left : 0rem !important;	
}*/
.navigationUpArowClass {
	padding-top: 0rem !important;
	height: 50% !important;
}

.publishSplitappClass {
	padding-left: 10px;
}

.publishDetailClass {
	font-weight: bold;
}

.firstVboxClass {
	padding-top: 45px;
	padding-left: 45px;
}

.secondVboxClass {
	padding-left: 340px;
}

.noFormsTextClass {
	padding-left: 461px;
}

.sapMTextMaxLine {
	color: white !important;
}

.listFlexboxClass {
	width: 80%;
}

.publishMarksInput {
	padding-left: 15px !important;
}

.listClass>.sapMLIBContent>.sapMObjLTopRow>div>.sapMObjLTitle>.sapMTextLineClamp
	{
	color: white !important;
}

.listClass>.sapMLIBContent>.sapMSLIDiv>.sapMSLITitleOnly {
	color: white !important;
}

.listItemClass>.sapMLIBContent>.sapMSLIDiv>.sapMSLITitleOnly {
	color: white !important;
}

.listClass {
	/* padding: 0.5rem !important; */
	/* width: 675% !important; */
	/* background: transparent !important; */
	margin: 0.5rem !important;
	background: #0e0e0e12 !important;
	border-bottom: 0px !important;
	/* border : 1px solid !important; */
}

.blockFormsClass {
	height: 60px;
}
/*.blockKPIClass{
	height: 225px;
}*/
.expland {
	/* background-color: #00608a!important;*/
	background-color: white ! important;
}

.barclass {
	border-bottom: none !important;
	background-color: #00608a !important;
}

.scrollclass {
	padding-left: 1rem !important;
	position: inherit !important;
	overflow-y: scroll !important;
	height: 500px !important;
}

.blockBox {
	width: 75% !important;
}

.blockBoxExpanded {
	width: 100% !important;
}

.blockBoxHeader {
	height: 0px !important;
	border: none !important;
}

.previewBoxClosed {
	width: 0% !important;
	display: none;
}

.blockBox>.sapMFlexItem {
	height: 100%;
}

#subSecId-inner {
	border: 1px solid #bfbfbf !important;
}

#secid-inner {
	border: 1px solid #bfbfbf !important;
}

#deptNameId-inner {
	border: 1px solid #bfbfbf !important;
}

#deptDescId-inner {
	border: 1px solid #bfbfbf !important;
}

.__item10 {
	color: #2b597f !important
}
.darkTheme>.sapMBtnTransparent>.sapMBtnIcon
	{
	color: white !important
}
.darkTheme>.sapMBtn>:not (.sapMBtnDisabled ) .sapMBtnTransparent>.sapMBtnIcon
	{
	color: white !important
}

.sapMBtnTransparent {
	color: white !important;
}

.sapMBtnIcon {
	font-size: 1.75rem;
}

.sapMNCValueScr {
	font-size: 25px !important;
}

.sapSuiteIBCBar {
	background-color: #9fa5ad !important;
}

.sapSuiteIBCBarLabelText {
	color: white !important;
}

.sapSuiteIBCBarSelected {
	background-color: rgba(118, 136, 152, 0.44) !important;
}

.headerClass {
	padding-left: 2rem !important;
}

/*.sapUiSimpleForm{*/

/*	margin-top: -35px !important;*/

/*}*/

/*.sapUiFormElementLbl {*/

/*	margin-left: -120px !important;*/

/*}*/
button: {
	padding: 5px 25px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 7px;
	box-shadow: 0 1px 1px rgba(50, 50, 50, 0.25);
	color: #8AA8BD;
	font-weight: bold;
	cursor: pointer;
}

#__item10 {
	/*background-color: #2b597f !important;*/
	/*color: white !important;*/
	
}

/* #__item5 {
	background-color: #2b597f !important;
	color: white !important;
} */

.choiceClass {
	padding-left: 900px;
}

.buttonClass {
	padding-left: 1000px;
}

.titleClass {
	padding-top: 20px;
}

.txtarea {
	border-width: 0.0 .0 .1px !important;
	background-color: transparent !important;
}

html:not (.sapUiTheme-sap_belize_hcb ):not (.sapUiTheme-sap_belize_hcw 
	) .darkTheme>span {
	color: #fff;
}

html:not (.sapUiTheme-sap_belize_hcb ):not (.sapUiTheme-sap_belize_hcw 
	) .darkTheme>span>span {
	color: #fff;
}

.darkTheme {
	color: #fff !important;
	background: transparent !important;
}
.darkTheme>.sapMInputBaseContentWrapper>.sapMInputBaseInner {
	color: white;
	background: transparent !important;
	border: none !important;
	/*border-bottom: 1px solid #bfbfbf !important;*/
	-webkit-appearance: none;
}
.darkTheme .sapMInputBaseContentWrapper{
		background: transparent !important;
}
.sapMInputBaseContentWrapper>.sapMInputBaseInner {
	border: none !important;
	background: transparent !important;
	/*border-bottom: 1px solid #bfbfbf !important;*/
	-webkit-appearance: none;
}

.darkTheme>*>::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white !important;
	opacity: 1;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: red !important;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: red !important;
}

.darkTheme>.sapMSltHoverable:not (.sapMSltState ):hover {
	border-color: #427cac;
	background: #ffffff4f;
}

.sapMTextLineClamp {
	color: #333333 !important;
	font-size: 0.85rem !important;
}

.largeSize {
	width: 7.5rem !important;
	height: 7.5rem !important
}

.mediumSize {
	width: 6rem !important;
	height: 6rem !important
}

.darkTheme>.sapMSltArrow {
	color: white !important;
	font-size: 1.2rem !important;
}

.darkTheme {
	background: transparent !important;
}

.sapUiSizeCompact>.sapUiBlockCellContent {
	padding: 0rem 1rem !important;
}

.darkTheme.sapMLabel {
	color: #9fa5ad !important;
}

.darkTheme>.sapMSltLabel {
	color: white !important;
}

.darkTheme>.sapMInputValHelp>.sapMInputValHelpInner {
	speak: none;
	color: white !important;
}

.sapSuiteIBCBarValue.sapSuiteIBCBarValueOutside {
	color: white !important;
}

/* .darkTheme>.sapMInputBaseContentWrapper:not (.sapMInputBaseReadonlyInner ):not 
	(.sapMInputBaseStateInner
	 ):not (.sapMInputBaseDisabledInner ):hover {
	background: transparent !important;
	border-color: #427cac;
}

.sapMInputBaseContentWrapper:not (.sapMInputBaseReadonlyInner ):not (.sapMInputBaseStateInner
	 ):not (.sapMInputBaseDisabledInner ):hover {
	background: white !important;
	border-color: #427cac;
} */

.addSectionColorClass {
	color: Blue !important;
}

.subParaareaclass {
	margin-left: 2rem !important;
}

.subhboxclass {
	margin-left: 2rem !important;
}

.barClass {
	margin-left: 2rem !important;
	width: 98%;
}

.tablefirstcellClass {
	padding-left: 5rem !important;
}

.vboxCarouselClass>.sapMFlexItemAlignAuto{
	min-height:100% !important ;
	/*height:auto !important;*/
}
.vboxTreeClass{
	overflow-y : scroll !important;
}

.textAreaBorder{
	border-bottom: inset !important;
}